<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display List</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div name="title">
    <h2>Factory Management System v1.0</h2>
    <button name="edit_mode">Edit</button>
</div>

<div id='factories'>
    <div id='title'>
        <h3 class='nowrap'>Factories</h3>
        <button onClick="showFac(this)">></button>
    </div>
    <ul>

    </ul>
</div>

<div name="teams">
    <div id='title'>
        <h3 class='nowrap'>Maintenance Teams</h3>
        <button onClick="showTeam(this)">></button>
    </div>
    <ul>

    </ul>
</div>

<script src="/js/script.js"></script>
</body>
</html>

